body{
	margin:0;
	font-family: Tahoma , sans-serif;
	text-align: center;

}
#container{
	background-image: url("https://c.wallhere.com/photos/8f/06/landscape_winter_clouds_mountains_nature-219070.jpg!d");
	background-size: cover; 

	display: flex;
	background-position: center;

	align-items: center;
	justify-content: center;
	flex-direction: column;
}

#flex-1{
	margin-bottom: 28px;
	margin-top: 20px;
	font-size: 4em;
	font-family: 'Sacramento', cursive;
	color: #550a46;

}

#main{

	border: 3px solid #02a8a8;
	border-radius: 5px;
	position: relative;
	margin-bottom:20px;
}
.footer-link{
	padding-right: 40px;
	color: #272727;
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
	font-size: 26px;
}
.footer-link:hover{
	
	font-weight: bold;
	text-decoration: underline;


}

footer{
	padding-top: 50px;
	margin-bottom: 0;
	background-color: #018383;
}

footer p{
	margin-bottom: 0;
}


